/* General styles */
body {
  text-align: center;
  margin: 0;
  background-color: #f5f2f9;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  min-height: 100vh;

  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Avenir Next",
    Avenir, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #212121;
}

#root {
  margin-top: 3rem;
}

/* Animation between routes */
.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
  transition-delay: 200ms;
}

.fade-exit {
  position: absolute;
  top: 3rem;
  width: 100%;
  height: 100vh;

  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

/* General */
.text-primary {
  color: #000000;
  font-weight: 900;
  font-size: 2rem;
  margin-top: 0;
}
.text-secondary {
  color: #5d576b;
  font-weight: 800;
  margin-bottom: 0;
}
.underline {
  /* border-bottom: solid 15px #8641d4; */
  text-decoration: underline;
  text-decoration-thickness: 10px;
  text-decoration-color: #8641d4;
  text-decoration-skip-ink: none;
  text-underline-offset: -5px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Heading */
.heading h2 {
  font-size: 2rem;
  margin: 8rem 0 2rem 0;
}
.heading h1 {
  font-size: 3rem;
  margin: 2rem 0 8rem;
}
@media (max-width: 768px) {
  .heading h2 {
    margin: 2rem 0;
  }
  .heading h1 {
    margin: 2rem 0;
  }
}
.heading a {
  text-decoration: none;
}

/* Section style */
.section-container {
  display: flex;
  justify-content: center;
}
.section {
  background: linear-gradient(
    109.36deg,
    rgba(103, 52, 211, 0.03) 0%,
    rgba(103, 52, 211, 0.1) 100%
  );
  padding: 5rem;
  border-radius: 15px;

  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .section {
    padding: 2rem;
  }
}

.small-info {
  font-size: 12px;
  color: #717171;
}

.about-us-container {
  width: 60%;
  font-weight: 500;
  font-size: 1.1rem;
}
#about-us {
  margin: 4rem 0;
}
@media (max-width: 768px) {
  .about-us-container {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .about-us-container {
    width: 90%;
  }
}

/* Code input */
.code-input input:last-child {
  margin-right: 0 !important;
}
.code-input input {
  /* font-family: 'Courier New', Courier, monospace; */
  border: none;
  font-size: 4rem;
  height: 80px;
  width: 60px;
  text-align: center;
  margin-right: 15px;
  border-radius: 10px;
  background-color: #ffffff !important;
  color: #212121 !important;
  font-weight: 900;
  outline: none;
  -moz-appearance: textfield;
}
.code-input input::-webkit-outer-spin-button,
.code-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 900px) and (max-width: 1100px),
  (max-width: 400px) {
  .code-input input {
    font-size: 3rem;
    height: 60px;
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 300px) {
  .code-input input {
    font-size: 3rem;
    height: 40px;
    width: 25px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(6px, 0, 0);
  }
}

/* File input */
.file-input input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-input label,
button {
  color: #f1e5e6;
  background-color: #212121;
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 1.5rem;
  border: 0;
  border-radius: 0.5rem;
}
button:disabled {
  background-color: #b3b3b3;
  cursor: default;
}
.file-input label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 1em;
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  color: #bebebe;
}
.footer a {
  color: #bebebe;
}

/* Compatibility page */
.compatibility h5 {
  display: flex;
  justify-content: center;
}
.compatibility h5 svg {
  margin-right: 0.5em;
}
